* {
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
}
.main {
     height: 100vh;
    
    
 }
 .info{
    background-color: rgb(247, 239, 239);
    border-style: outset;
    height: 80vh;
    width: 80vw;
    margin-left: 35px;
    margin-right: 60px;
    margin-top: 80;
 }

.sidebar{
    background-color: rgb(219, 215, 215);
    height: 650;
    border-color: black;
    
    
    
}
.sidebar nav{
    padding: 38px;
}
.sidebar nav li {
    list-style: none; 
    font-size: 30px;
    padding: 33px 0;
    margin-left: -25;
}
.sidebar nav li a{
    text-decoration: none;
      color: black;
}





    
   
    